*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  border: 1px solid #e5e5e5;
  padding: 20px;
  max-width: 600px;
  margin: 60px auto;
}